In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('hmc_database/merged_ext_train.csv', index_col=0)
df.head()

,check_id,name,category,price,count,shop_name,datetime,sum
0,233,116 Общий анализ мочи Приоритетный,Здоровье,532.0,1.0,ГЕКОЛАБ,2017-07-31 08:53:00,1862.0
1,233,,Не определена,1080.0,1.0,ГЕКОЛАБ,2017-07-31 08:53:00,1862.0
2,233,КАП Взятие капиллярной крови,Здоровье,250.0,1.0,ГЕКОЛАБ,2017-07-31 08:53:00,1862.0
3,231,"Балаклава детская Lassie, цвет: синий. 7187126...",Одежда и обувь,839.0,1.0,Не известно,2017-08-01 16:51:00,5647.6
4,231,"Водолазка для мальчика Acoola Cowslip, цвет: т...",Одежда и обувь,599.0,1.0,Не известно,2017-08-01 16:51:00,5647.6